%html
  %head
    %title My Sinatra App
    %link{ :rel => "stylesheet", :href => "/css/application.css" }
 
  %body
    .container	
      %h1 Well it seems that is working
      %p Your app is up and running!